<div class="text-center">
	<form>		
		</div> 
		<div class="panel panel-default">
      		<div class="panel-heading">
      			<h1>History</h1>
      		</div>
  			<div class="panel-body">
   				<div class="navbar-form navbar-left">
			        <div class="form-group">
			          	<input type="text" class="form-control" placeholder="Some day specific?">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
				</div>
  			</div>

  			<table class="table text-center">
    			<thead>
      				<tr>
        				<th>#</th>
        				<th class="text-center">Client</th>
			            <th class="text-center">Date</th>
			            <th class="text-center">Price</th>
			            <th class="text-center">Options</th>
      				</tr>
    			</thead>
    			<tbody>
			        <tr>
			            <th scope="row">1</th>
			            <td>Joao</td>
			            <td>30/07/2015</td>
			            <td>30,00</td>
			            <td>
			            	<button class="btn btn-info">Details</button>
			            </td>
					</tr>
					<tr>
			            <th scope="row">2</th>
			            <td>Bianca</td>
			            <td>30/08/2015</td>
			            <td>50,00</td>
			            <td>
			            	<button class="btn btn-info">Details</button>
			            </td>
					</tr>
					<tr>
			            <th scope="row">3</th>
			            <td>Stella</td>
			            <td>30/09/2015</td>
			            <td>72,00</td>
			            <td>
			            	<button class="btn btn-info">Details</button>
			            </td>
					</tr>
			    </tbody>
  			</table>
		</div>
		<div>
			<div class="pull-right">
				<button class="btn btn-primary">Save Changes</button>
				<button class="btn btn-warning">Cancel</button>
			</div>
		</div>
	</form>

	<!-- <p>{{ tagline }}</p> -->
</div>